<li class="list-group-item user-line" data-id="<%= user.id %>">
  <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
  <button class="btn btn-danger pull-right remove-user">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</li>