<% if user != current_user %>
    <li class="list-group-item user-line" data-id="<%= user.id %>">
      <%= user.first_name %>
      <button class="btn btn-danger pull-right remove-user">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </li>
<% end %>