<div class='page-header'>
  <ul class="list-inline">
    <li>
      <h1 class='edit'><%= @chat_room.name %></h1>
    </li>
    <li>
      <button class="btn" id="edit-chat_room-btn">Users</button>
    </li>
  </ul>
</div>

<div class="col-md-10 col-md-offset-1">

  <div class="panel panel-default" id="chat">

    <div id="messages" class="panel-body">
      <%= render partial: 'messages/message', collection: @chat_room.messages.order(updated_at: :asc) %>
    </div>

  </div>

  <%= render partial: 'messages/message_form', locals: {message: @message, chat_room: @chat_room} %>

</div>